<div class="main">
    <div class="wrap">
        <img class="bg"
            src="https://thumbs.dreamstime.com/b/top-view-worktable-accessories-business-flat-lay-background-copy-space-180807541.jpg"
            alt="">
        <div class="content">
            <div class="full-page">
                <form (submit)="addJob()" #JobForm="ngForm">
                    <input type="text" id="job" [(ngModel)]="form.job" name="job" #job="ngModel"
                        placeholder="enter position" required>

                    <input type="text" id="company" [(ngModel)]="form.company" name="company" #company="ngModel"
                        placeholder="enter company" required>

                    <input type="text" list="fields" placeholder="enter field" id="field" name="field"
                        [(ngModel)]="form.field" #field="ngModel" required>

                    <datalist id="fields">
                        <option>It Services</option>
                        <option>Education</option>
                        <option>Heath & Care</option>
                        <option>Managment</option>
                        <option>Architecture</option>

                    </datalist>

                    <input type="text" id="company" placeholder="enter logo" name="company" [(ngModel)]="form.logo"
                        #company="ngModel" required>



                    <input type="submit" class="submit" [disabled]="JobForm.form.invalid">

                </form>
            </div>
        </div>
    </div>
</div>