<div class="content">
    <div class="full-page">
       <form (submit)="addJob()">
          <input type="text" id="job" name="job" placeholder="enter position"
             required>
 
          <input type="text" id="company"  name="company" 
             placeholder="enter company" required>
 
          <input type="text" placeholder="enter field" id="field" name="field" 
              required>
 
 
          <input type="text" id="company" placeholder="enter company" name="company"  required>
 
          <input type="submit" class="submit" >
 
       </form>
    </div>
 </div>