<div class="main">
  <div class="wrap">
    <img class="bg"
      src="https://thumbs.dreamstime.com/b/top-view-worktable-accessories-business-flat-lay-background-copy-space-180807541.jpg"
      alt="">
    <div class="content">
      <div class="full-page">
        <form (submit)="submit()" #RegisterForm="ngForm">
          <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="form.email"
            #email="ngModel" required>

          <input type="password" id="pwd" placeholder="Password" [(ngModel)]="form.password" name="password"
            #password="ngModel" required>


          <input type="password" id="confirm_password" placeholder="Confirm Password"
            [(ngModel)]="form.confirm_password" name="confirm_password" #confirm_password="ngModel" required>

          <label class="rad-label">
            <input type="radio" class="rad-input" name="job" required (click)="recruter()">
            <div class="rad-design"></div>
            <div class="rad-text">recruter</div>
          </label>


          <label class="rad-label">
            <input type="radio" class="rad-input" name="job" (click)="applicant()">
            <div class="rad-design"></div>
            <div class="rad-text">applicant</div>
          </label>

          <button class="submit">Register</button>

          <p class="message">Not registered?
            <a routerLink="/login">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>