<li>
    <div>
        <img src="{{job.logo}}" alt="{{job.company}}">
    </div>
    <div>
        <span> Company :</span> {{job.company}}
    </div>
    <div>
        <span> Field :</span> {{job.field}}
    </div>


    <div>
        <span> Position :</span> {{job.job}}
    </div>
    <div>
        <span> Description :</span> {{job.description}}
    </div>


    <button (click)="application()">Apply</button><br />
    <button class="edit" (click)="updateJob()">Edit profile</button><br />
    <button class="delete" (click)="deleteJob()">Delete profile</button>
</li>