
<li>
    <div>
        <span> Field :</span> {{job.field}}
    </div>
    <div>
        <span> Company :</span>  {{job.company}}
    </div>
    <div>
        <img src="{{job.logo}}" alt="{{job.company}}">
    </div>
    <div>
    <div>
        <span> Position :</span>  {{job.job}}
    </div>
    
        <span> Description :</span>  {{job.description}}
    </div>
    
    <div *ngIf="isApplicant()" >
        <button (click)="applications()">Apply</button>
    </div>
    
    
    <div *ngIf="!isApplicant()"  >
        <button (click)="applications()">Edit Job</button>
    </div>
    <div *ngIf="!isApplicant()"  >
        <button (click)="applications()">Delete Job</button>
    </div>
</li>
    