<li>
    <div>
        <img src="{{job.logo}}" alt="{{job.company}}">
    </div>
    <div>
        <span> Company :</span> {{job.company}}
    </div>
    <div>
        <span> Field :</span> {{job.field}}
    </div>


    <div>
        <span> Position :</span> {{job.job}}
    </div>
    <div>
        <span> Description :</span> {{job.description}}
    </div>

    <ng-container *ngIf="!isRecruter() && isApplicant()">
        <button (click)="application()">Apply</button><br />
    </ng-container>
    <ng-container ng *ngIf="(!isRecruter() && !isApplicant())">
        <button (click)="login()">Apply</button><br />

    </ng-container>

    <ng-container ng *ngIf="isRecruter()">
        <button class="edit" (click)="updateJob()">Edit Job</button><br />
        <button class="delete" (click)="deleteJob()">Delete Job</button>
    </ng-container>
</li>