<ul>
  <li><a><img src="https://icon-library.com/images/three-line-menu-icon/three-line-menu-icon-1.jpg" alt=""></a></li>
  <li class="home"><a class="home" routerLink="/home">Home</a></li>
  <li style="float: right;"  *ngIf="!isAuthenticated() && !isLoggedIn" ><a class="auth" routerLink="/login">Login</a></li>
  <li style="float: right;" *ngIf="!isAuthenticated() && !isLoggedIn"><a class="auth" routerLink="/register" >Register</a></li>
  <li style="float: right;" *ngIf="isAuthenticated() || isLoggedIn" ><button class="auth" id="logout" (click)="logout()">LogOut</button></li>
  <li style="float: right;" *ngIf="isAuthenticated() || isLoggedIn" ><a class="auth" routerLink="/jobform" >Add Job</a></li>
  <li style="float: right;" *ngIf="isAuthenticated() || isLoggedIn" ><a class="auth" routerLink="/profileform" >Add Profile</a></li>
  <li style="float: right;" *ngIf="isAuthenticated() || isLoggedIn" ><a class="auth" routerLink="/jobs" >Jobs</a></li>
  <li style="float: right;" *ngIf="isAuthenticated() || isLoggedIn" ><a class="auth" routerLink="/profiles" >Profiles</a></li>


  


</ul>

<ng-container>
  <router-outlet></router-outlet>
</ng-container>
