<li>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi7J19VPrVwkHLjvp8ICziGAwEdPQ9cTgkmSsWluVzL3aKp4Gd8iecgs3Rm-zTsLH50Eg&usqp=CAU" alt="">
    </div>
    <div>
        <span> Name :</span> {{profile.name}}
    </div>
    <div>
        <span> Age : </span> {{profile.age}}
    </div>
    <div>
        <span>Degree : </span> {{profile.degree}}

    </div>
    <div>
        <div>
            <span> Resume Link :</span> <a href="{{profile.resume}}">{{profile.resume}}</a>
        </div>

        <span> Email : </span> <a href="mailto: {{profile.email}}">{{profile.email}}</a>
    </div>

        <button (click)="recrutement()">Apply</button><br/>
        <button (click)="updateProfile()">Edit profile</button><br/>
        <button (click)="deleteProfile()">Delete profile</button>
</li>