<div class="main">
    <div class="wrap">
        <img class="bg"
            src="https://png.pngtree.com/background/20210710/original/pngtree-communication-exchange-poster-background-picture-image_1024831.jpg"
            alt="">
        <div class="content">
            <div class="txt">
                <div>
                    <p class="text1"> Looking for a job ? </p>
                    <p class="text2"> Choose your field and upload your resume and miss any job offers !</p>
                </div>

                <ng-container *ngIf="isAuthenticated()">

                    <div><a routerLink="/jobs">Apply Now</a></div>
                </ng-container>
                <ng-container *ngIf="!isAuthenticated()">

                    <div><a routerLink="/login">Apply Now</a></div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="wrap">
        <img class="bg"
            src="https://png.pngtree.com/background/20210710/original/pngtree-cartoon-flat-job-interview-looking-for-job-background-illustration-picture-image_998099.jpg"
            alt="">
        <div class="content">
            <div class="txt">
                    <p class="text1"> Looking for expanding your team ? </p>
                    <p class="text2"> You can offer job opportunities and choose your new team members!</p>
   
                <ng-container *ngIf="isAuthenticated()">

                    <div><a routerLink="/profiles">Find Applicants</a></div>
                </ng-container>
                <ng-container *ngIf="!isAuthenticated()">

                    <div><a routerLink="/login">Find Applicants</a></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>